body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Apps{
  border: slategray 2px solid;
  box-sizing: border-box;
  width: 500px;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 10px 10px 10px 10px;
  margin-top: 50px;
  height:auto;
}
.App-logo{
height:60px;
width:90px
;

}
.App{
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 400px;
  justify-content: center;
  align-items: center;
  
}
.ss {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
 margin: 20px;
 margin-top: 0;
}
form{
 text-align: center;
}

input {
  padding: 8px;
  border-radius: 50px;
  margin: 10px;
  width: auto;
  width: 200px;
}

button {
  padding: 8px;
  width:220px;
  margin-top: 20px;
  border-radius: 50px;
  color:black;
  background-color: palevioletred;
}

h3 {
  margin-left: 100px;
  color: palevioletred;
}
.active {
  border-bottom: palevioletred 4px solid;
  width: 150px;
  text-decoration: none;
  font-weight: 900;
}
.unactive{
  text-decoration: none;
}

.social-icons {
  display: flex;
margin-left: 140px;
  justify-content: space-between;
  width: 200px;
  gap: 5px;
}

.social-icons span{
  width: 50px;
  height: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E6E6E6;
  opacity: 1;
  border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.social-icons  img {
  width: 42px;
  height: 42px;
}

span {
  color: palevioletred;
}